@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --primary-clr: #1A120B;
    --secondary-clr1: #3C2A21;
    --secondary-clr2: #D5CEA3;
    --secondary-clr3: #E5E5CB;
    --secondary-clr4: rgb(170, 146, 116);
    --secondary-clr5: rgb(117, 113, 108);
    --secondary-clr5faint: hsl(33, 4%, 44%, 0.8);
    --secondary-clr6: rgb(46, 37, 27);
    --white-clr: aliceblue;
    --black-clr: rgb(19, 19, 19);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-clr);
    padding: 10px;
}

.container {
    position: relative;
    width: 1200px;
    min-height: 90vh;
    margin: 0 auto;
    /* color: rgb(33, 31, 29); */
    padding: 5px;
    display: flex;
    border-radius: 10px;
    background-color: var(--secondary-clr1);
}

/* START OF LEFT */

.left {
    width: 60%;
    padding: 20px;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--secondary-clr6);
    border-radius: 5px;
    background-color: var(--secondary-clr2);
}

.calendar::before,
.calendar::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: var(--secondary-clr4);
    transform: translateY(-50%);
}

.calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: var(--secondary-clr5);
}

.calendar .month {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.calendar .month .date {
    font-weight: 700;
    font-size: 1.5rem;
}

.calendar .month .bx-caret-left-circle,
.calendar .month .bx-caret-right-circle {
    cursor: pointer;
    font-size: 2.5rem;
}

.calendar .month .bx-caret-left-circle:hover,
.calendar .month .bx-caret-right-circle:hover {
    color: var(--secondary-clr5);
    transition: .2s ease;
}

.calendar .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-clr6);
}

.calendar .weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.calendar .days .day {
    width: 14.28%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    color: var(--secondary-clr1);
    border: 1px solid var(--primary-clr)
}

.calendar .day:not(.prev-date, .next-date):hover {
    color: var(--secondary-clr2);
    background-color: var(--primary-clr);
}

.calendar .days .prev-date,
.calendar .days .next-date {
    color: var(--secondary-clr5);
}

.calendar .days .active {
    position: relative;
    font-size: 1.8rem;
    color: aliceblue;
    background-color: var(--primary-clr);
}

.calendar .days .active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);
}

.calendar .days .today {
    font-size: 1.7rem;
    border: 2.5px dotted var(--secondary-clr6);
}

.calendar .days .event {
    position: relative;
}

.calendar .days .event::after {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--black-clr);
}

.calendar .event:hover::after {
    background-color: aliceblue;
}

.calendar .active.event::after {
    background-color: aliceblue;
    bottom: 20%;
}

.calendar .active.event {
    padding-bottom: 10px;
}

.calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
}

.calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
}

.calendar .goto-today .goto input {
    width: 100%;
    height: 30x;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-clr);
    border-radius: 5px;
    background: var(--secondary-clr2);
}

.calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: var(--secondary-clr1);
    cursor: pointer;
    color: var(--white-clr);
    text-transform: uppercase;
    font-weight: 550;

}

.calendar .goto-today button:hover {
    color: var(--primary-clr);
    background-color: var(--white-clr);
}

.calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
}

/* END OF LEFT */

/* START OF RIGHT */
.container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}

.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;

}

.today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
    color: var(--secondary-clr3);
}

.today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-clr3);
}

.events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: var(--white-clr);
    background: linear-gradient(90deg, var(--secondary-clr5faint), transparent);
}

.events .event:nth-child(even) {
    background: transparent;
}

.events .event:hover {
    background: linear-gradient(90deg, var(--primary-clr), transparent);
    color: var(--secondary-clr4);
}

.events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.events .event .title .event-title {
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 20px;
}

.events .event .title i {
    color: var(--secondary-clr2);
    font-size: 0.5rem;

}

.events .event:hover .title i,
.events .event:hover .event-time {
    color: var(--white-clr);
}

.events .event .event-time {
    color: var(--secondary-clr2);
    font-weight: 400;
    margin-left: 15px;
    pointer-events: none;
}

.event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    transform: translateY(-50%);
}

.event:hover::after {
    display: flex;
}

.add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    overflow: hidden;
    max-height: 0;
    border-radius: 5px;
    background: var(--white-clr);
    transform: translateX(-50%);
    transition: max-height 0.5s;
}

.add-event-wrapper.active {
    max-height: 300px;
}

.add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: var(--black-clr);
    border-bottom: 1px solid var(--secondary-clr2);
}

.add-event-header .bx-x {
    font-size: 1.5rem;
    cursor: pointer;
}

.add-event-header .bx-x:hover {
    color: var(--primary-clr);
}

.add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
}

.add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

.add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black-clr);
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-clr);
}

.add-event-body .add-event-input input::placeholder {
    color: var(--secondary-clr1);
    text-transform: uppercase;
}

.add-event-body .add-event-input input:focus {
    border-color: var(--black-clr);
}

.add-event-body .add-event-input input:focus::placeholder {
    color: var(--secondary-clr1);
}

.add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: var(--secondary-clr2);
    background-color: var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
}

.add-event-btn:hover {
    color: var(--primary-clr);
    background-color: var(--secondary-clr2);
}

.add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--secondary-clr3);
    border: 2px solid var(--secondary-clr3);
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}

.add-event:hover {
    opacity: 1;
}

.add-event i {
    pointer-events: none;
}